{% extends "accounts/base.html" %}

{% block title %}
    Teacher Signup | Publish Notes
{% endblock %}

{% block navigation %}

<a href="{% url 'login' %}" class="nav-link">
    Login
</a>

{% endblock %}

{% block topbar_user %}
    Teacher Registration
{% endblock %}

{% block content %}

<div class="page-header">

    <h1>
        Create Teacher Account
    </h1>

    <p>
        Register as a teacher and start managing your class.
    </p>

</div>


<div class="form-card">

    <h2>
        Teacher Registration
    </h2>

    <p class="item-meta">
        Create your account and school/class details.
    </p>


    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit"
                class="btn btn-primary">

            Create Teacher Account

        </button>

    </form>


    <br>

    <p class="item-meta">
        Already have an account?
    </p>

    <a href="{% url 'login' %}"
       class="btn btn-secondary">

        Login

    </a>

</div>

{% endblock %}